body {
  font-size: 16px;
  line-height: 1.5;
}
.main-pane{
  margin:0px auto;
  width:1000px;
}

/* GENERAL */
.form-errors{
  color:#d9534f;
}

/* PROFILE */
.profile-box .profile-body{
  margin-top:30px;
}
.profile-box .profile-avatar img{
  margin-top:25px;
  width:250px;
}
.profile-box .profile-info{
  font-size:35px;
  width:300px;
}
.profile-box .profile-header .profile-info.pull-left{
  text-align: left;
}
.profile-box .profile-header .profile-info.pull-right{
  text-align: right;
}
.profile-box .profile-name{
  font-weight:bold;
  margin-top:0px;
  text-align:center;
}

/* ALL USERS LINK */
.user-list{

}
.user-list .profile-thumbnail{
  float:left;
  margin:20px 50px 0px 0px;
  width:250px;
}
.user-list .profile-thumbnail .profile-avatar{
  border-radius: 50%;
}
.user-list .profile-thumbnail img.profile-avatar{
  display: block;
  width:250px;
}
.user-list .profile-thumbnail .profile-link{
  display:block;
  text-decoration:none;
}
.user-list .profile-thumbnail .profile-link:hover{
  text-decoration: none;
}
.user-list .profile-thumbnail .profile-name{
  text-align:center;
}

.nav-left-space {
  margin-left: 60px;
}

.nav-right-space {
  margin-right: 60px;
}

.post-author {
  color: gray;
  font-style: italic;
}

.post-created_at {
  color: gray;
  font-style: italic;
}
